*{
	box-sizing:border-box;
}

body, html, h1, *{
	font-family:Helvetica, Arial, sans-serif;
	color:#333;
}

h1 {
	color:blue;
}

a:hover {
	opacity:0.8;
}

.isotope{
	width:100%;
	margin-left:0.5%;
}

.is-item {
	width:19vw;
	height:19vw;
	margin-bottom:10px;
}

.is-item > span {
	width: 100%;
	height:100%;
	position: relative;
	display: block;
	background-size: cover;
	background-position:center;

}

.is-item.college {
	background-color:#3db1c6;
}

.is-item > span:hover span.background{
	-webkit-filter:grayscale(100%);
	filter:grayscale(100%);
	-ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
	overflow:hidden;
}

.is-item span span.background{
	width: 100%;
	height:100%;
	position: absolute;
	display: block;
	background-size: cover;
	background-position:center;
}

.is-item span a {
	width: 100%;
	height: 100%;
	display: block;
	color:transparent;
	text-decoration:none;
	position: absolute;
	z-index:20;
}

.is-item a:hover {
	background:rgba(0,0,0,0.6);
	color:#fff;
	transition:background 0.1s;
	text-align:center;
	font-size: 18px;
	font-weight: 100;
}

.is-item > span a span {
	opacity:0;
}

.is-item > span a:hover span.project-title { 
	position: absolute;
	margin-top: 25%;
	color: #fff;
	width: auto;
	text-align: left;
	border-bottom: solid 1px #fff;
	padding-bottom: 10px;
	margin-left: -45%;
	opacity:1;
	transition:opacity 0.1s;
	z-index: 100;
}

.is-item > span a:hover span.description { 
	position: absolute;
	margin-top: 40%;
	text-align:left;
	color: #fff;
	margin-left: -45%;
	width: auto;
	padding-bottom: 10px;
	opacity:0.8;
	transition:opacity 0.1s;
	z-index: 100;
	font-size:13px;
}


.is-item.w2{
	width:50%;
}


#bg{
	position: fixed;
	max-height:100%;
	overflow:hidden;

}

.hoverspan{
	position: relative;
	border:solid 1px rgba(0,0,0,0.008);
	float:left;
	width:30px;
	height:30px;
	display:block;
}

.container{
	width: 100%;
	display: block;
	margin: auto;
	height: auto;
	position: relative;
}

.container .top {
	width:97%;
	display:block;
	margin:auto;
	margin-top:30px;
}

.container .bottom{
	width:100%;
	margin-top:30px;
}

h1{
	font-family:garamond;
	font-weight:500;
	font-size:25px;
	margin-top:0;
}

h1 a{
	font-family:'Plantin', garamond;
	text-decoration:none;
}

h1 a:hover{
	color:#3db1c6;
}

.contact{
	font-family:Helvetica, arial, sans-serif;
	font-size:13px;
}

.contact span {
	display:inline-block;
	margin:auto;
	margin-top:5px;
}

.contact span a {
	text-decoration:none;
	border-bottom:solid 1px #333;
	padding-bottom:5px;
}

nav.main {
	font-family:Helvetica, arial, sans-serif;
	font-size:13px;
}

nav.main a{ 
	display:inline-block;
	margin:auto;
	margin-top:5px;
	text-decoration: none;
	border-bottom:solid 1px #333;
	padding-bottom:5px;
}

.contact .divider {
}

.action-buttons{
	position: fixed;
	bottom:20px;
	left:3%;
	z-index:100;
}

.action-buttons a{
	color:#333;
	z-index: 100;
	text-decoration:none;
	font-size:13px;
}

.action-buttons a:hover{
	color:#3db1c6;
}



/*** PROJECT PAGE ***/

.project .bottom {
	width:97%;
	display:block;
	margin:auto;
	margin-top:30px;	
}

.project .bottom .project-description{
	width:350px;
	font-size:13px;
	float:left;
}


.project .bottom .project-content{
	background:blue;
	width:auto;
	overflow:hidden;
	height:100px;
}



.project .bottom .project-description h2 {
	font-size:14px;
	font-weight:600;
	margin-top:10px;
	margin-bottom:0;
}

.project .bottom .project-description h3 {
	font-size:13px;
	font-weight:500;
	font-style: italic;
	margin-top:10px;
	color:#3db1c6;
}

.project .bottom .project-description p {
	margin-top:10px;
	line-height:17px;
}


.project .bottom .project-description ul {
	list-style: none;
	text-indent: 0;
	padding: 0;
	margin: 0;
	margin-top:10px;

}

.project .bottom .project-description ul li {
	display:inline-block;
	opacity: 0.8;
	font-style:italic;
}




@media only screen and (max-width:1420px) {
	.is-item { 
		width:24vw;
		height:24vw;
		margin-right:-5px;
		margin-bottom:5px;
	}
}

@media only screen and (max-width:1040px) {
		.is-item { 
			width:23vw;
			height:23vw;
			margin-right:0;
			margin-bottom:10px;
		}

		.isotope{
			margin-left:0.7%;
		}
	}

@media only screen and (max-width:703px) {
	.isotope{
		margin-left:0.1%;
	}
	.is-item { 
		width:23vw;
		height:23vw;
		margin-right:-5px;
		margin-bottom:5px;
	}

	span.description{
		display:none;
	}

	span.project-title{
		font-size:13px;
	}
}



@media only screen and (max-width:700px) {
	
	body{
	}

	.is-item {
		width:44vw;
		height:44vw;
		margin-bottom:5px;
	}


	.is-item > span:hover span.background{
		-webkit-filter:grayscale(100%);
		filter:grayscale(100%);
		-webkit-filter:blur(0px);
		filter:blur(0px);
		overflow:hidden;
	}
	.is-item a{
		background:rgba(0,0,0,0.3);
		color:#fff;
		transition:background 0.2s;
		text-align:center;
		width:100%;
		height:100%;
		font-size: 16px;
		font-weight: 500;
		display:table !important;
	}

	.is-item > span a span.project-title, .is-item > span a:hover span.project-title{
		display: table-cell !important;
		margin-top: 25%;
		width:100%;
		height:100%;
		margin-left: 0 !important;
		color: #fff;
		width: 100%;
		padding-bottom: 10px;
		opacity: 1;
		z-index: 100;
		vertical-align: top;
		padding-top:5%;
		position: relative;
		text-align:center;
	}

	.is-item > span a:hover span.description{
		display:none;
	}
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.container{
		width:90%;
		position: absolute;
		left:5%;
		display:block;
		z-index:100;
	}


	.hoverspan{
		border:solid 1px rgba(0,0,0,0.03);
	}

	h1 a{
		width:auto;
		margin:auto;
		font-size:3em;
		padding-bottom:5px;
		border-bottom:solid 1px #333;
		margin-bottom:40px;
	}

	h1{
		display:block;
		width:100%;
		margin:auto;
		padding-bottom:50px;
	}

	span.divider{
		display:none;
	}

	span.email{
		padding-bottom:20px;
	}

	span.telephone, span.email{
		float:left;
		clear:left;
		font-size:3.5em;
	}

	.action-buttons{
		display:none;
	}

}